:root {
  --sidebar_width: 300px;  
  --closed_sidebar_width: 78px;
  --tiempo: 1s; 

}

body{ 
  margin: 0;
  min-height: 100vh; /*por si no funciona el 100dvh */
  min-height: 100dvh;  
  display: grid;
  grid-template-rows: 1fr auto; 
}
main{
  margin-left:  var(--sidebar_width);
  transition:  margin-left  var(--tiempo);
}
/* .closed_sidebar main{
  margin-left:  var(--closed_sidebar_width); 
  transition:  margin-left  var(--tiempo);
}
  */

footer{
  padding-left: var(--sidebar_width);
  transition:    padding-left 1s;
}
/*  .closed_sidebar footer{
  padding-left: var(--closed_sidebar_width);
  transition:    padding-left  var(--tiempo) ;
}
 */
 

sidebar{
  position: fixed;
  width: var(--sidebar_width);
  height: 100%;
  left: 0px;   
  transition: left 1s, width 1s;
  overflow: hidden;
}
sidebar span{ opacity: 1; transition: opacity 1s; user-select: inherit;}

sidebar span{ opacity: 1; transition: opacity 1s; user-select: inherit;}

/*  .closed_sidebar sidebar{
  position: fixed;
  width: var(--closed_sidebar_width);
  height: 100%;
  left: 0px;    
  transition: left 1s, width  var(--tiempo);
 
} */
/* .closed_sidebar sidebar span{ opacity: 0; transition: opacity var(--tiempo); user-select: none; width: 0;}
  */

main nav{
  margin: -12px -50px;
  background-color: white;
  padding: 17px;
  border-bottom: 3px solid #ececed;
  margin-bottom: 0px;
  /* display: none; */
  z-index: 1;
}
main nav{
  margin-top: -71px;
  transition:  margin-top 1s;
  transition-delay: 0.8s;

}







/* @media (max-width: 1000px) {
  sidebar{
    position: fixed;
    width: var(--closed_sidebar_width);
    height: 100%;
    left: 0px;    
    transition: left 1s, width  var(--tiempo);
   
  } 
  sidebar span{ opacity: 0; transition: opacity var(--tiempo); user-select: none; width: 0;}





  main{  margin-left: 0px;    padding: 10px 35px;}

main{
  margin-left:  var(--closed_sidebar_width); 
  transition:  margin-left  var(--tiempo);
}
  main nav{
    margin-top: -71px;
  }
  footer{
    padding-left: var(--closed_sidebar_width);
    transition:    padding-left  var(--tiempo) ;
  }
}
 */




/* 



@media (orientation: landscape)  and (min-device-width: 700px) 
and (max-device-width: 670px){

  sidebar{ left: calc(var(--sidebar_width) * -1);  } 
  main{  margin-left: 0px;    padding: 10px 35px;}
  footer{  padding-left: 0px;}
  main nav{
    margin: -12px -40px;
  }
} 


@media (orientation: landscape)  and (min-device-width: 480px) 
and (max-device-width: 670px) 
and (orientation: landscape) {

  sidebar{ left: calc(var(--sidebar_width) * -1);  } 
  main{  margin-left: 0px;    padding: 10px 35px;}
  footer{  padding-left: 0px;}

  main nav{
    margin: -12px -40px;
  }
} 

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  sidebar{ left: calc(var(--sidebar_width) * -1);   } 
  main{  margin-left: 0px;    padding: 10px 35px;}

  footer{  padding-left: 0px;}


  main nav{
    margin-top: -9px;
  }
  main nav{
    margin: -12px -50px;
  }
  }

 */

 /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width:1000px) {
  sidebar{width: var(--closed_sidebar_width);}
  sidebar span{ opacity: 0; transition: opacity var(--tiempo); user-select: none; width: 0;}
  main {
    margin-left: var(--closed_sidebar_width);}
    footer{  padding-left: var(--closed_sidebar_width);}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  sidebar{ left: calc(var(--closed_sidebar_width) * -1); }
  main nav {margin-top: -9px;}
  main {
    margin-left: 0px;}
    footer{  padding-left: 0px;}

}