
body{ 
  background-color: white;
  color: #626970;
  font-family: system-ui; 
  font-size: 0.95rem; 
  font-size: 16px; 
  font-weight: 600;    
}
main{  
  padding: 12px 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main nav a{
  padding: 17px;

  color: #b5b5b5;
}

main nav a:not(.active):hover{ color: black;}
main nav .active{
  border-bottom: 3px solid #2097ea;

  color: #2097ea;

}

main separador {
  display: block;
  height: 3px;
  background-color: #181e3017;
  margin: 0px 20px 0px;
  border-radius: 38px;
  margin-top: 30px;
}
.full{
  margin: -0px -50px;
}

h1{font-size: 40px;     border-bottom: solid #ececed 3px;}
h1,h2{color: black;}
a {text-decoration: none;}
footer{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #c3c3c4;
  border-top: 4px solid #9899a030;
}
sidebar{
  background-color:  #202033;
}
sidebar img{
  padding: 20px;
  width: -webkit-fill-available;
  padding-bottom: 0; 
  mix-blend-mode: overlay;
}

sidebar_nav  img{
  width: 22px;
  padding-bottom: 0;
  mix-blend-mode: inherit;

  padding: 0;
  margin-right: 15px;

/* 
  filter: saturate(0) invert(1) brightness(1); */


}
sidebar separador {
  display: block;
  height: 3px;
  background-color: #a2baff0f;
  margin: 0px 20px 0px;
  border-radius: 38px;
  /* margin-top: 30px; */
}
sidebar_nav{
  display: block;
  padding: 13px;
  box-sizing: content-box;
  margin-top: 20px;
}
sidebar_nav a{
  display: block;
  /* padding: 9px; */
  padding: 15px 10px;
  margin-bottom: 7px;
  box-sizing: border-box;
  color: #ffffff7d;    
  border-radius: 3px;
  padding-left: 15px;    
  color: #71719e;
  display: flex;
  align-items: center;
}
sidebar_nav .active{     
  background-color: #2097ea;
  color: white;
}
/* sidebar_nav .active img{
  filter:  invert(1)  brightness(10);
} */
sidebar_nav a:not(.active):hover{color: white;     background-color: #18182b;}

/* -------------- Media query  -----------------*/
@media (max-width: 664px) {
  main{  padding: 10px 35px;} 
  .full{  margin: 0px -35px;}
}


banner{
  margin: -11px -50px 0px;
  background-color: #eeeeee;
  /* min-height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  display: none;
}
banner h1{
  text-align: center;
}